*{
margin: 0px;
padding: 0px;
text-decoration: none;
list-style: none;
}

body{
    background-color: rgb(5,17,34);
    overflow-x: hidden;
    flex-grow: 1;
}

div{
    position: relative;
}

.container {
    width: 1300px;
    margin: 0 auto 0 auto;
}

.main_menu{
    display: flex;
    justify-content: center;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 24px;
    font-family: NunitoSans,Helvetica,Arial,sans-serif;

}

.menu_izquierda{
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu_izquierda img{
    max-width: 110px;
    height: auto;
    max-height: 50px;
}

.menu_izquierda a{
    color: white;
    padding: 20px 25px 20px 25px;
}

.menu_izquierda a:hover{
    color: #19aaff;
}

.menu_izquierda a.epico:hover{
    color: white;
}

.menu_derecha{
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu_derecha img{
    width: 25px;
}

.menu_derecha a{
    color: white;
    margin: 20px;
}

.menu_derecha a:hover{
    color: #19aaff;
}

.menu_izquierda a:hover{
    color: #19aaff;
}

.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img img{
    width: 900px;
    object-fit: cover;
}

.container_text{
    font-size: 100px;
    letter-spacing: 0;
    line-height: 84px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0;
    line-height: 46px;
    font-weight: 400;
    color: #fff;
    display: block;
    padding-bottom: 50px;
    padding-left: 100px;
    position: absolute;
    
}

.container_button{
    font-size: 20px;
    letter-spacing: 0;
    line-height: 84px;
    letter-spacing: 0;
    line-height: 46px;
    font-weight: 400;
    display: block;
    padding-top: 150px;
    position: absolute;
    padding-left: 110px;

}

.container_button a{
    color: #fff;
    font-family: NunitoSans,Helvetica,Arial,sans-serif;
    border: 1px white solid;
    padding: 15px 30px;
    border-bottom-right-radius: 25px;
}

.container_button a:hover{
    color: #fff;
    font-family: NunitoSans,Helvetica,Arial,sans-serif;
    border: 1px #0068c8 solid;
    padding: 15px 30px;
    background-color: #0068c8;
}

.icons_main{
    color: white;
    display: flex;
    flex-direction: column;

}

.icons_main i{
    font-size: 35px;
    padding: 20px;
}

.icons{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.icons i{
    color: white
}

.films_title{
    font-family: NunitoSans,sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    right: 40px;
}

.films_title h3{ 
    padding-bottom: 10px;   
}

.films_title::before{ 
    content: "";
    position: relative;
    width: 70px;
    height: 5px;
    border-bottom: solid 1px #0068c8;
    border-top: solid 1px #0068c8;
    bottom: -50px;
    left: 150px;

}

.film_box{
    display: flex;
    justify-content: center;

}

.films{
    padding: 20px;
}

.films img{
    width: 250px;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.texto{
    position: relative;
    top: -20px;
    right: calc(50% - 30px);
    display: block;
    font-size: 25px;
    left: -15px;
    font-weight: 200;
    letter-spacing: 2px;
    font-family: 'Anton';
    color: white;
}

.texto a{
    color: white;
}

.icons_film{
    font-size: 25px;
}

.icons_film i{
    padding: 10px 40px 10px 40px;
}

.image_salas{
    width: 100%;
    height: 320px;
    position: absolute;
    display: flex;
    align-items: center;
}

.image_salas img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.title_salas{
    font-size: 25px;
    padding: 10px;

}

.text_salas{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;

}

.descubre_salas{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    width: 330px;
    font-family: NunitoSans,sans-serif;
}

.color_salas{
    color: white;
    width: 320px;
    font-family: NunitoSans,sans-serif;
}

.salas_info{
    padding: 25px;
}

.ofertas_main{
    color: white;
    padding-top: 150px;
}

.ofertas_caja{
    display: flex;
    
}

.ofertas{
    margin: 20px;
    width: 500px;
}

.ofertas_title{
    font-family: NunitoSans,sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.ofertas_caja{
    padding: 20px 0px;
}

.ofertas{
    font-size: 20px;
    color: black;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom-right-radius: 30px;
    height: 600px;

}

.ofertas .icon_ofertas{
    display: flex;
    justify-content: start;
    align-items: center;
}

.ofertas_text{
    padding: 25px;    

}

.ofertas_text h3{
    padding-bottom: 20px;
    font-weight: bold;
}

.ofertas_text div{
    color: grey;
}

.ofertas img{
    width: 100%;
}

.icon_ofertas{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 80px 20px;

}

.icon_ofertas a{
    display: flex;
    width: 300px;
    align-items: center;

}

.icon_ofertas div,
.icon_ofertas i{
    color: #0068c8;
    display: flex;
    align-items: center;
}

.info_footer_main{
    display: flex;
    justify-content: center;

}

.info{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.info li{
    width: 90%;
    display: flex;
    justify-content: start;
}


.info li a{
    color: white;
    padding: 5px;
}

.info li a:hover{
    color:#4ba8ff;
    padding: 5px;
}

.redes_sociales_bloque{
    border: 1px black solid;
    background-color:rgb(9, 24, 48);
    height: 100%;
}

.redes_sociales_main ul{
    display: flex;
    justify-content: end;
}

.redes_sociales_main ul li{
    padding: 30px 20px;
}

.redes_sociales{
    width: 34px;
}




.image_salas1{
    width: 100%;
    height: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_salas1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.title_salas1{
    font-size: 25px;
    padding: 10px;

}

.text_salas1{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;

}

.descubre_salas1{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    width: 330px;
    font-family: NunitoSans,sans-serif;
}

.color_salas1{
    color: white;
    width: 320px;
    font-family: NunitoSans,sans-serif;
}

.salas_info1{
    top: 210px;
    padding: 200px 0px;
    display: flex;

}

.borde_con_fondo{
    background-color: #19aaff;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
}

.posi_img{
    width: 250px;
}

.posi_img img{
    width: 100%;
}

.text_peli_secun{
    padding-left: 50px;
}

.titulo_peli_secun{
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

}

.titulo_peli_secun img{
    width: 20px;
    height: 25px;
    padding: 10px 20px;

}

.directores{
    font-size: 15px;
    font-family: NunitoSans,sans-serif;
    font-weight: lighter;
    color: white;
}

.directores h4{
    font-family: NunitoSans,sans-serif;
    font-weight: lighter;
    color: rgb(168, 168, 168);
    padding-bottom: 7px;
}

.directores p{
    padding-bottom: 20px;
}

.actores{
    font-size: 15px;
    font-family: NunitoSans,sans-serif;
    font-weight: lighter;
    color: white;
}

.actores h4{
    font-family: NunitoSans,sans-serif;
    font-weight: lighter;
    color: rgb(168, 168, 168);
    padding-bottom: 7px;
}

.actores p{
    padding-bottom: 20px;
}

.sinopsis{
    font-size: 15px;
    font-family: NunitoSans,sans-serif;
    font-weight: lighter;
    color: white;
}

.sinopsis h4{
    font-family: NunitoSans,sans-serif;
    font-weight: lighter;
    color: rgb(168, 168, 168);
    padding-bottom: 7px;
}

.sinopsis p{
    padding-bottom: 20px;
}

.text_peli_secun_right{
    width: 220px;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    padding: 70px 0px 20px 50px;
}

.texto_horarios{
    color: white;
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: bold; 
    font-size: 20px;
    padding: 0px 20px;
}

.texto_horarios a{
    color: #19aaff;
    padding-left: 5px ;
}

.texto_horarios2 a:hover{
    color: #19aaff;
    padding-left: 20px ;
}

.texto_cine_cont{
    display: flex;
    justify-content: center;
    padding: 5px 0px;

}

.boton_cine_cont{
    background-color: #19aaff; 
    height: 50px; 
    width: 120px; 
    border-bottom-right-radius: 20px;
    color: white; 
    font-family: NunitoSans,Helvetica,Arial,sans-serif; 
    font-size: 18px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

